/*
Author: P17204296
Version: 1.0
*/


*{
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* allows padding and border to be included in an element's total width and height. */
}

body {
  background: #fff;
}

h2{
  margin: 2%;
  font-size: 24px;
  color: #2d3436; /* Blackish */
}

a{
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* CSS Text Alignment  */
.text-align-center{
  text-align: center;
}
.right-align-text{
  text-align: right;
}
.left-align-text{
  text-align: left;
}

.container{
  width: 97%;
  margin: 0 auto;
  padding: 1%;
}

.float-container{
  position: relative;
}

.purple-text{
  color: #6c5ce7;
}

.clearfix{ /* Prevents Overflow */
  clear: both;
  float: none;
}

.responsive-img{ /* Enambles responsive movement for images */
  width: 100%;
}

.curve-img{
  border-radius: 12px;
}

.btn{
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 1%;
}

.btn-primary-col:hover{
  background-color: tomato;
  color: white;
}


/* Navbar CSS */

#menuToggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  /* more custom styles */
  background-color: black;
  margin-top: 5%;
  color: white;
  font-size: 1.6em;
  text-align: right;
  line-height: 1em;
  padding: 0 10px;
}


nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: tomato;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.4s, opacity 0.6s;
  z-index: 1;
}

nav ul li{
  text-align: left;
  padding: 19px 10px;
  display: block;
  list-style: none;
}

nav a {
  font-size: 23px;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  flex-grow: 1;
}

nav.open {
  transition: transform 0.4s, opacity 0.2s;
  transform: none;
  opacity: 0.95;
}

nav a::after{
  content: '';
  background: skyblue;
  width: 0%;
  height: 2px;
  margin: auto;
  display: block;
  transition: 0.6s;
}

nav a:hover::after{
  width: 100%
}

.nav-background{
  width: 100%;
  padding-bottom: 10px;
  background-color: black;
}

.logo{
  margin-left: 3%;
  width: 40%;
  float: none;
}


/* Category Seach Section */

.bg-wrapper{
  color: white;
  width: 100%;
  padding-bottom: 70%;
  background-color: #023a15;
  background-size: cover;
  background-position: right;
  max-height: 690px;
  background-repeat: no-repeat;
}

.main-content-index{
  display: block;
  font-family: Arial;
  margin-top: 12%;
  width: 100%;
  margin-right: 20%;
}

.main-head-index h1{
  font-size: 15px;
}

.main-head-index2 {
  display: block;
  margin-top: 6%;
  background-color: #fff;
  border-radius: 12px;
  color: Black;
  font-size: 14px;
}

.main-head-index2 h2{
  padding-top: 3%;
  color: Black;
}

.main-head-index2 h6{
  font-size: 18px;
}

.main-head-index2 ul{
  color: Black;
  padding: 1%;
  list-style: none;
  text-align: left;
}

.main-head-index2 ul li p{
  padding-bottom: 15px;
}

.main-head-index2 ul li a{
  margin: 0 31%;
}


.index1-btn{
  width: 80%;
  text-align: center;
  display: block;
  border-radius: 4px;
  border: 1px solid #1dbf73;
  padding: 12px 13px;
  background: #1dbf73;
  cursor: pointer;
  font-weight: bold;
  margin: 3% auto;
  color: white;
}

.index1-btn:hover{
  border: 1px solid black;
  background: black;
  color: gold;
  transition: 1s;
}


.index2-btn{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  padding: 12px 13px;
  background: gold;
  color: black;
}

.index2-btn:hover{
  background: black;
  color: gold;
  transition: 1s;
}

/* Categories Section */

.categories{
  padding: 4% 0;
}

.categories .container{
  display: flex;
}

.cat-boxes{
  margin-left: 2px;
  margin-right: 2px;
  width: 80%;
}

.cat-boxes:hover{
  transition: 0.7s;
  opacity: 0.7;
}

.cat-deco{
  padding: 1%;
  font-size: 0.8rem;
  border: 1px solid red;
  border-radius: 6px;
  background-color: white;
}

/* Explore Category Section */
.explore-section{
  background-color: #E0E0E0;
  padding: 3% 0;
}

.explore-boxes{
  background-color: white;
  padding: 6%;
  margin: 2% auto;
  border: 1px solid black;
  width: 95%;
  float:left;
  border-radius: 12px;
}

.explore-img{
  width: 30%;
  float: left;
}

.explore-info{
  margin-left: 5%;
  width: 60%;
  float: left;
}

.cat-details{
  margin: 4% 0;
  font-size: 1rem;
}

/* ABOUT US PAGE */
.sub-header{
  height: 20vh;
  width: 100%;
  background-image:url(../images/about-cover.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.sub-header h1{
  padding-top: 70px;
  font-size: 2.3rem;
  text-align: center;
}

.about-us h2{
  margin: 0%;
}

.about-us p{

}

.about-para{
  margin: 3%;
}

/* ----SEARCH PAGE ---*/

.body-background{
  background-color: #F0F0F0;
}

.cat-search {
  width: 60%;
  border-radius: 6px;
  font-size: 1rem;
  padding: 3px;
  margin-top: 6%;
  margin-bottom: 2%;
}

.index-search-btn{
  color: gold;
  width: 75px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 5px;
}

.btn-primary-col{
  background-color: black;
}


.explore-btn{
  color: white;
  background-color: #1dbf73;
}


/* ----SEARCH RESULTS PAGE ---*/

#servicesList ul {
  padding: 0;
}

#servicesList li {
  display: block;
  border: 2px solid black;
  border-radius: 12px;
  background: #fff;
  padding: 1%;
  align-items: center;
  gap: 1rem;
  font-size: 1em;
  margin: 0.5rem 0;
}

#servicesList img {
  float:left;
  padding-right: 4px;
  max-width: 23%;
  border-radius: 50%;
}

#search-role{
  font-weight: bold;
}

#search-title{
  padding-top: 20px;
}

.search-page {
  padding-bottom: 200px;
}

/* PROFILE/SERVICES PAGE */

.services-page{
  padding: 4% 2%;
}

.services-profile-img {
  float:left;
  max-width: 10%;
  border-radius: 40%;
}

.profile-head-details{
  display: grid;
  padding-left: 1%;
  margin-top: 12px;
  max-width: 100%;
}

#profileName{
  font-size: 2rem;
}

#role{
  padding-top: 5px;
  font-weight: bold;
}


.profile-body-details{
  margin-top: 3%;
  display: block;
}


/* SOCIAL MEDIA STYLES */

.social{
  border-top: 1px solid black;
}

.social ul{
  padding: 1% 0;
  list-style-type: none;
}
.social ul li{
  padding: 1%;
  display: inline;
}


@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  /* Navbar CSS */
  #menuToggler {
    font-size: 2.2rem;
    margin-top: 2%;
  }

  .nav-background{
    padding-bottom: 9%;
  }

  .logo{
    width: 25%;
    float: left;
  }

  .bg-wrapper{
    background-color: transparent;
    background-image: url(../images/bg-1.png);
  }

  /* Index Main Section i.e. background image section */

  .main-content-index{
    display: inline-block;
    margin-top: 2%;
    width: 60%;
  }

  .main-head-index2 {
    display: block;
    margin-top: 6%;
    margin-right: 9%;
    background-color: #fff;
    border-radius: 12px;
    color: Black;
    font-size: 14px;
  }

  /* Category Search Section */

  .cat-boxes{
    margin: 2%;
    width: 29%;
  }

  .cat-boxes h3{
    left: 50%;
    transform: translateX(-50%);
  }

  .float-cat-text{
    position: relative;
    width: 80%;
    bottom: 35px;
  }

  /* Explore Category Section */
  .explore-boxes{
    padding: 2%;
    margin: 1%;
    width: 45%;
  }

  /* ----SEARCH RESULTS PAGE ---*/

  #servicesList img {
    max-width: 10%;
  }


}



/* DESKTOP STYLES - Min width of 1000px */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  /* Navbar CSS */
  #menuToggler {
    display: none;
  }

  nav{
    float: right;
    position: static;
    padding: 3% 6%;
    justify-content: space-between;
    background-color: transparent;
    opacity: 1;
    transform: none;
    height: auto;
  }

  nav a {
    font-size: 15px;
    flex-grow: 0;
  }

  nav ul li{
    display: inline-block;
    padding: 9px 10px;
    position: relative;
  }

  nav ul li a{
    color: white;
  }

  .logo{
    width: 20%;
  }

  /**   MAIN INDEX - Hero **/
  .main-content-index{
    margin-top: 8%;
  }

  .float-cat-text{
    position: absolute;
    bottom: 30px;
  }

  .cat-deco{
    font-size: 1.5rem;
  }


  /* ----SEARCH PAGE ---*/

  .cat-search {
    margin-top: 2%;
  }


  /* ----SEARCH RESULTS PAGE ---*/

  #servicesList img {
    max-width: 6%;
  }


}

/* DESKTOP STYLES - Min width of 1400px */

@media screen and (min-width: 1400px) {

  h2{
    font-size: 30px;
  }

  /**   MAIN INDEX **/
  .main-content-index{
    margin-top: 12%;
  }

  .main-head-index h1{
    font-size: 40px;
  }

  .main-head-index2 {
    font-size: 18px;
  }

  .main-head-index2 h6{
    font-size: 24px;
  }


}
